/* fredoka-regular - latin */
@font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    src:
         url('../fonts/fredoka-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fredoka-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fredoka-700 - latin */
  @font-face {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    src:
         url('../fonts/fredoka-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fredoka-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  body{
    font-family: 'Fredoka';
  }

  img {
    vertical-align: middle;
  }

  .pokilogo{
    width: 500px;
    display: flex;
    margin: 0 auto;
  }

  .muvilogo{
    width: 400px;
    display: flex;
    margin: 0 auto;
  }

.wider{
  width: 400px;
}

.higher{
  width: 250px;
}